<!-- templates/taxis/administrateur/manage_clients.html -->

{% extends 'taxis/base.html' %}

{% block title %}Gérer les Clients{% endblock %}

{% block content %}
<h2>Gérer les Clients</h2>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom d'utilisateur</th>
            
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.username }}</td>
            
            <td>
                <a href="{% url 'edit_client' client.id %}" class="btn btn-sm btn-primary">Modifier</a>
                <a href="{% url 'delete_client' client.id %}" class="btn btn-danger btn-sm">Supprimer</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Aucun client trouvé.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'administrateur_dashboard' %}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
