{% extends 'taxis/base.html' %}

{% block title %}Gérer les Taxis{% endblock %}

{% block content %}
    <h1>Gérer les Taxis</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Numéro d'immatriculation</th>
                <th>Marque</th>
                <th>Modèle</th>
                <th>Chauffeur</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for taxi in taxis %}
                <tr>
                    <td>{{ taxi.registration_number }}</td>
                    <td>{{ taxi.brand }}</td>
                    <td>{{ taxi.model }}</td>
                    <td>
                        {% if taxi.driver %}
                            {{ taxi.driver.user.username }}
                        {% else %}
                            Aucun
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'edit_taxi' taxi.id %}">Modifier</a>
                        <a href="{% url 'delete_taxi' taxi.id %}">Supprimer</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Aucun taxi trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'add_taxi' %}" class="btn btn-primary">Ajouter un Taxi</a>
{% endblock %}
